/*============================================================

	Theme Name: web123-child
	Theme URI: http://www.web123.com.au
	Author: http://www.web123.com.au
	Author URI:
	Version: 1.0
	Description:
	Template: web123
	Text Domain: web123

============================================================*/

.logo_wrapper {
  float: left;
  height: 100px !important;
}

.q_logo a {
  display: block;
  height: 60px !important;
}

.home a:hover {
  opacity: 0.8;
}


/* New Css*/

.banner1 {
  background-size: inherit !important;
  height: 790px !important;
  margin-top: -48px !important;
  padding: 0 !important;
  margin-bottom: 20px !important;
}

.banner1__links {
  display: inline-block;
  float: left;
  height: 784px;
  width: 100%;
}

.banner_bottom_icons .q_icon_with_title.left_from_title.large.normal_icon .icon_holder, .q_icon_with_title.left_from_title.small .icon_holder, .q_icon_with_title.small .icon_holder img {
  width: auto !important;
}

.banner_bottom_icons .q_icon_with_title.small.boxed .icon_text_holder, .q_icon_with_title.small.circle .icon_text_holder, .q_icon_with_title.small.custom_icon_image .icon_text_holder, .q_icon_with_title.small.square .icon_text_holder {
  padding: 15px 0 0 89px !important;
}

.banner_bottom_icons .q_icon_with_title .icon_text_inner {
  padding: 0px !important;
}

.vc_row.wpb_row.section.vc_row-fluid.banner_bottom_icons {
  padding: 0 !important;
}

.banner_bottom_icons .full_section_inner.clearfix {
  padding-top: 20px;
}

.banner_bottom_icons .icon_title {
  font-family: arial !important;
  font-size: 14px !important;
  font-weight: normal !important;
  padding-right: 47px !important;
  line-height: 17px !important;
}

.home .news_letter_fulls {
  margin-top: 0px;
}

.padding_bottom_zero .vc_row.wpb_row.section.vc_row-fluid.vc_inner {
  padding-bottom: 0px !important;
}

.iconwithtext2, .iconwithtext3, .iconwithtext4 {
  width: 30%;
  text-align: center;
}


/*.iconwithtext2 h6, .iconwithtext3 h6, .iconwithtext4 h6 {text-align:left;}
.iconwithtext2{ margin-left: 55px;}
/*.homemade1{padding-left: 286px;}
a#button1 {left: 332px; top:74px;}*/

 
.vc_row.wpb_row.section.vc_row-fluid.bgimage1 {
  background-size: inherit;
}

.bgcontent {
  padding: 0px 40px;
}

.bgcontent a#button1 {
  border-radius: 50px;
  padding: 0px 14px;
  text-transform: capitalize;
  font-size: 17px;
  top: 84px;
}

.calling__header__no {
  float: right;
  padding-right: 11px;
  padding-top: 34px !important;
}

.text1 {
  padding-top: 10px;
}

.bgrow {
  padding-top: 167px!important;
}

.testimonial {
  background-position: inherit !important;
  background-size: inherit !important;
  min-height: 426px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.trail_packs .wpb_wrapper>p {
  margin: 0px;
}

.trail_packs {
  padding: 0px !important;
}

.vc_row.wpb_row.section.vc_row-fluid.padding_bottom_zero {
  padding-bottom: 0px;
}

.headerimg {
  padding-top: 47px!important;
  margin-bottom: 0;
}

a#button2 {
  border-radius: 35px;
  top: 43px;
}

.lastrow {
  height: 120px!important;
}

.left-side h2 {
  font-family: 'ralewaylight', Arial, sans-serif;
}

.left-side div {
  font-size: 14px;
}

body {
  overflow: hidden!important;
}

.custom__blogs_h {
  width: 990px;
  margin: 0px auto;
  padding-top: 150px;
}

.i001-list {
  margin-bottom: 11px;
}

.i001-list-item {
  border-top: 1px dashed #e5e5e5;
  overflow: hidden;
  padding: 16px 0 18px;
}

.custom__blogs_h h4 a {
  color: #337a36 !important;
  text-decoration: none;
}

.i001-list-item .i001-list-image {
  float: left;
  width: 156px;
  margin-right: 30px;
}

.i001-list-item .i001-list-wrap {
  float: left;
  margin: 0;
  padding-left: 0px;
  width: 80%;
}

a.i001-css-button, .i001-css-button.new_v01 a, div a.i001-css-button.new_v01, div a.i001-css-button {
  color: #ffffff;
  display: block;
  text-decoration: none;
}

.new_v01, p.new_v01 input, .i001-detail-price-button.i001-css-button input, p.style-button input[type="submit"] {
  background-color: #64c8ac;
  /*background-image: linear-gradient(#64c8ac, #73cdb4);*/
  border-radius: 3px;
}

.i001-css-button, p.i001-css-button input, .i001-detail-price-button.i001-css-button input, p.style-button input[type="submit"] {
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

.i001-detail-price-button.i001-css-button input, .i001-css-button, p.i001-css-button input, div.i001-css-button a, p.style-button input[type="submit"] {
  border: medium none;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  height: 27px;
  line-height: 27px;
  margin-left: 2px;
  min-width: 100px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  width: 100px;
}

.section_inner_margin {
  padding-top: 2px !important;
}

.custom__navigations__downs .drop_down .second .inner ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.drop_down .second .inner ul li a, .drop_down .second .inner ul li h5 {
  font-size: 9px !important;
  line-height: 30px !important;
  font-family: 'Open Sans' !important;
}

.drop_down .second .inner ul li.sub a i.q_menu_arrow {
  color: #fff !important;
  display: inline-block !important;
  float: right !important;
  font-size: 17px !important;
  position: relative;
  top: -22px !important;
  right: -6px !important;
}

.blog_menu .drop_down .narrow .second .inner ul li {
  width: 346px !important;
}

.page-template-custom_blog .custom__blogs_h {
  margin: 0 auto;
  padding-top: 60px !important;
  width: 990px;
}

.drop_down .second .inner ul li ul {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15) !important;
}

.single-advices .i001-image-right .i001-detail-wrap {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}

.custom__navigations__downs li.narrow .second .inner ul {
  margin-top: -15px;
  padding: 7px 0;
}

.i001-product-list-item.f {
  margin-left: 0;
}

.i001-product-list-item {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  float: left;
  overflow: hidden;
  padding: 0;
  width: 218px;
}

.i001-product-list-image {
  height: 194px;
  margin: 0;
  padding: 0;
}

.i001-product-list-details {
  background: #f5f5f5 none repeat scroll 0 0;
  height: 67px;
  line-height: 1.5;
  padding: 8px 10px;
}

.i001-product-list-details h4 {
  margin: 0;
  padding: 0;
}

.i001-product-list-buttons {
  background: #f5f5f5 none repeat scroll 0 0;
  height: 28px;
  overflow: hidden;
  padding: 0 4px 8px;
}

a.i001-css-button, .i001-css-button.new_v01 a, div a.i001-css-button.new_v01, div a.i001-css-button {
  color: #ffffff;
  display: block;
  text-decoration: none;
}

.i001-product-list-item.f {
  margin-bottom: 15px;
  margin-left: 12px;
  margin-right: 6px;
}

.content, .content .container, .full_width {
  background-color: #fff !important;
}

.i001-product-list-details a {
  color: #6dcbb1;
  font-family: arial;
  font-size: 18px;
}

.title h1, .title.title_size_small h1 {
  font-family: arial;
  font-size: 30px !important;
  line-height: 1.30435em;
}

.woocommerce .content .container .container_inner, .woocommerce-page .content .container .container_inner {
  padding: 0 0 30px !important;
}

.separator.small.left {
  display: none;
}

.top-product-section {
  border: solid 6px #f7f7f7;
}

/*.columns-3 .container_inner>ul.products li.product:nth-child(3n+1), .columns-3 .cross-sells>ul.products li.product:nth-child(3n+1), .columns-3 .products>ul.products li.product:nth-child(3n+1), .columns-3 .woocommerce_with_sidebar ul.products li.product:nth-child(2n+1), .columns-4 .container_inner>ul.products li.product:nth-child(4n+1), .columns-4 .cross-sells>ul.products li.product:nth-child(4n+1), .columns-4 .products>ul.products li.product:nth-child(4n+1), .columns-4 .woocommerce_with_sidebar ul.products li.product:nth-child(3n+1), div.woocommerce.columns-3 ul.products li.product:nth-child(3n+1), div.woocommerce.columns-4 ul.products li.product:nth-child(4n+1) {
  clear: inherit !important;
}*/

.columns-3 ul.products li.product {
  margin-right: 1.273%;
  width: 23.6%;
}

.top-product-section {
  border: 6px solid #f7f7f7;
  height: 269px;
}

.columns-3 .container_inner>ul.products li.product:nth-child(3n), .columns-3 .cross-sells>ul.products li.product:nth-child(3n), .columns-3 .products>ul.products li.product:nth-child(3n), .columns-3 .woocommerce_with_sidebar ul.products li.product:nth-child(2n), .columns-4 .container_inner>ul.products li.product:nth-child(4n), .columns-4 .cross-sells>ul.products li.product:nth-child(4n), .columns-4 .products>ul.products li.product:nth-child(4n), .columns-4 .woocommerce_with_sidebar ul.products li.product:nth-child(3n), div.woocommerce.columns-3 ul.products li.product:nth-child(3n), div.woocommerce.columns-4 ul.products li.product:nth-child(4n) {
  margin-right: 1.273% !important;
}

.woocommerce ul.products li.product .image-wrapper img {
  display: block;
  margin: 0 auto;
  padding-top: 25px;
  transform: translateZ(0px);
  transition: opacity 0.3s ease-out 0s;
  width: 83%;
}

.home .content.content_top_margin {
margin-top: 200px !important;
}

.margin__0 img {
  vertical-align: middle;
}

.product-info h6 {
  color: #6DCBB1;
  font-family: arial;
  font-size: 15px;
  font-weight: normal;
  text-align: left !important;
  padding-left: 0px !important;
}

.woocommerce ul.products li.product .price {
  color: #6dcbb1;
  font-family: arial;
  font-weight: 600;
  text-align: left;
  font-size: 18px;
  font-weight: normal;
}

.product-category.product-info {
  position: relative;
}

.woocommerce ul.products li.product h6::after {
  background: #e0e0e0 none repeat scroll 0 0;
  color: #fff;
  content: ">>";
  font-family: arial;
  padding: 4px 4px 4px 8px;
  position: absolute;
  right: 4px;
  text-align: center;
  top: 33px;
}

/*.page-template-custom-main-blog .custom__blogs_h {
  padding-top: 20px;
}*/

.woocommerce .woocommerce-result-count, .woocommerce-ordering {
  display: none;
}

.home .columns-3 ul.products li.product {
  height: 380px;
  margin-right: 1.273%;
  width: 19.6% !important;
  margin-bottom: 0 !important;
}

.woocommerce ul.products li.product .image-wrapper img {
  padding-top: 30px !important;
}

.full_testimonial_images .i001-detail-image {
  width: auto;
}

.full_testimonial_images .i001-detail {
  margin-top: 0px !important;
}

.woocommerce .columns-3 ul.products li.product {
  height: 380px;
  margin-bottom: 0;
  margin-right: 1.273% !important;
  width: 23.6% !important;
}

.columns-3 ul.products li.product {
  margin-right: 1.273%;
  width: 22.6%;
}

.vc_row.wpb_row.section.vc_row-fluid.vc_inner.best_seeling_outers {
  padding: 0px;
}

.vc_row.wpb_row.section.vc_row-fluid.home_monthly_package {
  padding-top: 0;
}

.custom_bac {
  background: #e5e5e5 none repeat scroll 0 0;
  font-style: normal;
  margin-top: -22px;
  padding: 8px;
  text-align: right;
  width: 84%;
}

.img-caption.custom_bac {
  font-family: arial;
}

.news_letter_midss {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  width: 70%;
}

.mailchimp_headings {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 15px;
  text-transform: capitalize;
}

.fi_subscribe-input {
  float: left !important;
}

.cms-label-watermark-wrap {
  position: relative !important;
  z-index: 0;
}

.cms-label-dynamic {
  color: #888 !important;
  cursor: text !important;
  display: block !important;
  position: absolute !important;
}

.cms-text {
  width: 294px !important;
}

.cms-text {
  /*background: #fff url("/wp-content/uploads/2017/06/f_subscribe_bg.png") no-repeat scroll 1px 1px;*/
  border: medium none !important;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25) !important;
  display: block !important;
  font-size: 15px !important;
  margin: 0 15px 0 5px !important;
  padding: 16px 16px 15px 16px !important;
  width: 220px !important;
}

.cms-label-watermark-wrap .cms-text {
  margin-left: 0 !important;
  margin-top: 0 !important;
}

.fi_subscribe-email0 .cms-text {
  background: #fff none repeat scroll 0 0 !important;
  margin: 0 !important;
  padding: 16px 100px 15px 16px !important;
}

.cms-text {
  width: 294px !important;
}

.fi_subscribe-button {
  position: absolute !important;
  right: 0px !important;
  top: 88px !important;
}

.cms-button {
  background: #4D774F none repeat scroll 0 0 !important;
  border: medium none !important;
  border-radius: 0 !important;
  color: #ffffff !important;
  cursor: pointer !important;
  font-family: arial !important;
  font-size: 13.33px !important;
  font-weight: normal !important;
  height: 49px !important;
  line-height: inherit !important;
  padding-left: 11px !important;
	text-transform: uppercase;
}

	
  .best_seeling_outers {
    width: 100%;
    display: table;
    margin: 0px;
    float: left;
  }


.news_letter_fulls {
  background: #f0f0f0 none repeat scroll 0 0;
  display: table;
  padding-bottom: 50px;
  width: 100%;
  margin-top: 70px;
}

.fi_subscribe-input {
  float: left !important;
  margin-top: 20px !important;
}

.mc4wp-response {
  width: 100% !important;
  float: left !important;
}

.product .woocommerce-Price-amount.amount {
  font-family: arial;
  font-size: 18px !important;
  font-weight: bold !important;
}

a.reset_variations {
  padding-left: 10px;
}

.woocommerce .product h1.product_title {
  font-size: 37px !important;
}

.woocommerce-info a:hover {
  color: inherit !important;
}

.login input {
  border: solid 1px #ccc !important;
}

.mc4wp-alert.mc4wp-error>p {
  background: #ffaaaa none repeat scroll 0 0 !important;
  border-radius: 6px !important;
  color: #ffff !important;
  font-family: arial !important;
  font-size: 17px !important;
  height: 49px !important;
  line-height: 49px !important;
  text-align: center !important;
  text-transform: capitalize !important;
  width: 100% !important;
}

.mc4wp-form.mc4wp-form-273 {
  display: table !important;
  margin: 0 auto !important;
  position: relative !important;
}

.mc4wp-alert.mc4wp-success>p {
  background: #64c8ac none repeat scroll 0 0 !important;
  border-radius: 5px !important;
  color: #fff !important;
  padding: 14px !important;
}

.slider_animations_revoluations {
  padding-top: 78px;
}

.page-id-29 .slider_animations_revoluations {
  padding-top: 178px;
}

.woocommerce .slider_animations_revoluations {
  padding-top: 178px;
}

.single .slider_animations_revoluations {
  padding-top: 178px;
}

.woocommerce ul.products li.product, .woocommerce ul.products li.product a.product-category, .woocommerce-page ul.products li.product a.product-category {
  height: auto !important;
}

.content_top_margin_none .slider_animations_revoluations {
  padding: 0;
}

.best_seeling_outers {
  width: 100%;
  display: table;
  margin: 0px;
  float: left;
}

.bets__selling__categories .product-category.product {
  border: 1px solid #ccc;
  margin-right: 110px;
  min-height: 251px;
  width: 25%;
}

.bets__selling__categories {
  float: none;
  margin: 0 auto;
  width: 75%;
}

.best_seeling_outers .product-category.product>a {
  display: block;
  text-align: center;
}

.best_seeling_outers .woocommerce-loop-category__title {
  background: #f5f5f5 none repeat scroll 0 0;
  color: #64c8ac;
  font-size: 13px;
  height: 35px;
  padding: 16px;
  text-align: left;
}

.bets__selling__categories .product-category.product img {
  float: none;
  height: 200px;
  margin: 0 auto;
  padding-bottom: 14px;
  padding-top: 5px;
  text-align: center;
  width: 89%;
}

.best_seeling_outers mark {
  display: none;
}

.bets__selling__categories .product-category.product {
  border: 1px solid #ccc !important;
  margin-left: 32px;
  margin-right: 63px !important;
  min-height: 255px;
  width: 23% !important;
  border-radius: 3px !important;
}

.best_seeling_outers .product-category.product.first {
  margin-left: 138px !important;
}

.best_seling_headings {
  font-size: 29px;
  padding-bottom: 30px;
  padding-top: 70px;
}

.left_side_triube {
  color: #fff;
  font-family: "open sans", sans-serif;
  font-size: 37px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1.1;
  padding-left: 17px;
  padding-right: 20px;
  padding-top: 36px;
  text-transform: inherit;
}

.dog_tearts_homepage.wpb_column.vc_column_container.vc_col-sm-6.vc_col-has-fill {
  padding-left: 94px;
}

.wpb_single_image.wpb_content_element.vc_align_center.imgaemedium {
  padding-top: 15px;
}

.dog_tearts_homepage .qbutton.medium.center.default {
  border-radius: 40px;
  margin-top: 50px;
}

.lefters_paragraphs {
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 10px;
}

.bgcontent a#button1 {
  border-radius: 50px;
  font-size: 17px;
  padding: 0 14px;
  text-transform: capitalize;
  top: 45px;
  left: 10px;
}

.testimonial_descriptions {
  font-size: 18px;
  color: #fff;
  font-style: italic;
}

/*.columns-3 .container_inner>ul.products li.product:nth-child(3n+1), .columns-3 .cross-sells>ul.products li.product:nth-child(3n+1), .columns-3 .products>ul.products li.product:nth-child(3n+1), .columns-3 .woocommerce_with_sidebar ul.products li.product:nth-child(2n+1), .columns-4 .container_inner>ul.products li.product:nth-child(4n+1), .columns-4 .cross-sells>ul.products li.product:nth-child(4n+1), .columns-4 .products>ul.products li.product:nth-child(4n+1), .columns-4 .woocommerce_with_sidebar ul.products li.product:nth-child(3n+1), div.woocommerce.columns-3 ul.products li.product:nth-child(3n+1), div.woocommerce.columns-4 ul.products li.product:nth-child(5n+1) {
  clear: inherit !important;
}

.columns-3 .container_inner>ul.products li.product:nth-child(4n+1), .columns-3 .cross-sells>ul.products li.product:nth-child(4n+1), .columns-3 .products>ul.products li.product:nth-child(4n+1), .columns-3 .woocommerce_with_sidebar ul.products li.product:nth-child(3n+1), .columns-4 .container_inner>ul.products li.product:nth-child(5n+1), .columns-4 .cross-sells>ul.products li.product:nth-child(5n+1), .columns-4 .products>ul.products li.product:nth-child(5n+1), .columns-4 .woocommerce_with_sidebar ul.products li.product:nth-child(4n+1), div.woocommerce.columns-3 ul.products li.product:nth-child(4n+1), div.woocommerce.columns-4 ul.products li.product:nth-child(6n+1) {
  clear: both;
}*/

.hesperiden.tparrows {
  background: inherit !important;
}

.hesperiden.tparrows.tp-rightarrow:before {
  content: "\f101"!important;
  margin-right: -3px;
  font-family: fontAwesome;
  font-size: 45px;
}

.hesperiden.tparrows.tp-leftarrow:before {
  content: "\f100"!important;
  margin-left: -3px;
  font-family: fontAwesome;
  font-size: 45px;
}

.bets__selling__categories.inner_sellings.wpb_column.vc_column_container.vc_col-sm-12 {
  width: 100% !important;
}

.best_seeling_outers .inner_sellings .product-category.product {
  margin-left: 19px !important;
  margin-right: 3px !important;
  margin-bottom: 20px !important;
}

.i001-detail.i001-image-med.i001-image-right h3 {
  font-size: 28px;
  padding-bottom: 20px;
  text-transform: capitalize;
}

.best_seeling_outers .inner_sellings .product-category.product.first {
  margin-right: 3px !important;
  margin-left: 0px !important;
}

.inner_sellings .padding_bottom_zero {
  padding-bottom: 0px !important;
}

.heading_grren {
  color: #64c8ac;
  font-size: 33px;
  font-family: arial;
  padding-top: 30px;
  padding-bottom: 30px;
}

.tc-featureB a {
  color: #64c8ac;
  display: block;
  font-family: arial;
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 10px;
  padding-top: 30px;
  text-transform: capitalize;
}

.tc-featureA a {
  color: #64c8ac;
  display: block;
  font-family: arial;
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 10px;
  padding-top: 30px;
  text-transform: capitalize;
}

.tc-featureA {
  color: #64c8ac;
  display: block;
  font-family: arial;
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 10px;
  padding-top: 30px;
  text-transform: capitalize;
}

.ul_margins ul {
  display: block !important;
  list-style-position: inherit !important;
  margin: 1em 3em !important;
}

.full_drodowns li {
  padding: 0;
  width: 395px !important;
}

.single-product .title_subtitle_holder {
  display: block;
  padding: 0;
  position: relative;
  display: none;
}

.single-product .product_title.entry-title {
  font-family: arial;
  font-size: 34px;
  font-weight: 500;
}

.woocommerce div.product .summary p.price span.amount {
  color: #337a36 !important;
  font-family: Raleway, sans-serif;
  font-size: 21px;
  font-weight: 600;
}

.q_accordion_holder.boxed div.accordion_content {
  padding-left: 26px;
  border: solid 1px #ccc;
  margin-bottom: 5px;
}

#comment {
  border: solid 1px #ccc !important;
}

.woocommerce .button, .woocommerce input[type="submit"], .woocommerce ul.products li.product .added_to_cart, .woocommerce-page .button, .woocommerce-page input[type="submit"] {
  border-radius: 0px !important;
  ;
  color: #fff !important;
}

.value>select {
  border: 1px solid #ccc;
  height: 31px;
  width: 133px;
}

.single-product .title_outer.title_without_animation {
  height: 100px;
  overflow: hidden !important;
}

#coupon_code {
  border: solid 1px #ccc;
  margin-right: 0px;
}

.woocommerce div.cart-collaterals div.cart_totals, .woocommerce-page .div.cart-collaterals div.cart_totals {
  float: right;
  margin-bottom: 31px;
  width: 33.3% !important;
}

.cart_totals>h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 14px;
  margin-bottom: 0px;
}

.shop_table.shop_table_responsive {
  width: 100%;
}

.cart-subtotal {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.shop_table.shop_table_responsive {
  font-family: arial;
  width: 100%;
}

.woocommerce form.checkout .col2-set .form-row input[type="text"], .woocommerce form.checkout .col2-set .form-row input[type="email"], .woocommerce form.checkout .col2-set .form-row input[type="password"], .woocommerce form.checkout .col2-set .form-row input[type="tel"] {
  padding-left: 5.2%;
  padding-right: 5.2%;
  width: 89.6%;
}

.woocommerce-billing-fields .input-text {
  border: 1px solid #ccc !important;
}

#order_comments {
  border: 1px solid #ccc !important;
}

.woocommerce-info {
  background: #ff9d0a !important;
  color: #fff !important;
  font-family: arial !important;
  padding: 14px !important;
  border-radius: 5px;
}

.showcoupon {
  color: #fff;
  text-decoration: underline;
}

.showcoupon:hover {
  color: #fff;
}

.cart_item {
  border-bottom: 1px solid #ccc;
  font-family: arial;
}

.variations_form.cart {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 16px;
}

.woocommerce-product-details__short-description {
  border-bottom: dashed 1px #ccc;
}

.i001-list-wrap>ul {
  list-style-position: inherit !important;
}

.i001-list-item h4 {
  padding-bottom: 20px;
  padding-top: 10px;
}

.t115-wrapper {
  margin: 0 auto;
  width: 990px;
}

.empty .t115-content {
  margin: 0;
  padding: 0;
}

.i001-detail {
  margin-top: 60px;
}

.i001-detail {
  margin-bottom: 11px;
  overflow: hidden;
}

.i001-image-right .i001-detail-image {
  float: right;
  text-align: right;
}

.i001-detail-image {
  float: none;
  width: 307px;
  padding-left: 40px;
}

.i001-detail-image .img {
  margin-bottom: 8px;
}

.i001-image-right .i001-detail-wrap {
  margin-left: 0;
  padding-left: 0;
}

.i001-detail h1 {
  font-size: 31px;
  padding-bottom: 50px;
}

.i001-detail-wrap a {
  color: #1ABC9C;
}

.advices-template-default .custom__blogs_h {
  padding-top: 40px !important;
}

.advices-template-default .custom__blogs_h ul {
  list-style-position: inherit;
  padding-left: 20px;
}

.i001-detail-wrap {
  margin: 0 307px;
  padding: 0 27px;
}

.i001-extras0 {
  background: #e8f7f3 none repeat scroll 0 0;
  border-radius: 4px;
  float: right;
  padding: 7px 12px;
}

.i001-extras3 {
  background: rgba(0, 0, 0, 0) url("i/box-i2-br.png") no-repeat scroll right bottom;
  padding: 7px 12px;
}

.i001-extras0 span {
  color: #64c8ac;
}

.i001-extras0 {
  background: #e8f7f3 none repeat scroll 0 0;
  border-radius: 4px;
  float: right;
  padding: 7px 12px;
  position: absolute;
  right: 0px;
}

.post-template-default .custom__blogs_h {
  padding-top: 40px !important;
}

.custom__blogs_h input {
  border: solid 1px #ccc !important;
  float: left;
}

.i001-detail-wrap {
  text-align: justify;
}

.i001-list-item {
  position: relative;
}

.wpcf7 form.wpcf7-form p {
  float: left;
  margin-bottom: 20px;
  margin-right: 2%;
  width: 31%;
}

.wpcf7-form-control.wpcf7-text {
  border: solid 1px #ccc !important;
}

.wpcf7-form-control.wpcf7-textarea {
  border: solid 1px #ccc !important;
}

input.wpcf7-form-control.wpcf7-submit:not([disabled]) {
  background: #337a36 none repeat scroll 0 0;
  border: 2px solid #337a36;
  border-radius: 0;
  color: #fff;
  margin-top: 30px;
}

.wpcf7-form-control.wpcf7-textarea {
  border: 1px solid #ccc !important;
  height: 100px !important;
}

div.wpcf7-response-output {
  background: #337a36 none repeat scroll 0 0 !important;
  float: left !important;
  width: 100% !important;
}

@media screen and (max-width: 1920px) and (min-width: 1450px) {
  .bgimage1 .left_side_triube {
    font-family: arial;
    font-size: 33px;
    font-weight: normal;
    padding-left: 70px;
    text-transform: capitalize;
  }
  .bgimage1 .lefters_paragraphs {
    padding-left: 70px;
  }
  .bgimage1 .qbutton.medium.center.default {
    margin-left: 70px;
  }
}

.i001-comments .i001-comments-info {
  padding-bottom: 12px;
}

a.i001-css-button, .i001-css-button.new_v01 a, div a.i001-css-button.new_v01, div a.i001-css-button {
  color: #ffffff;
  display: block;
  text-decoration: none;
}

a.i001-css-button, .i001-css-button.new_v01 a, div a.i001-css-button.new_v01, div a.i001-css-button {
  color: #ffffff;
  display: block;
  text-decoration: none;
  margin-top: 21px;
}

.new_v01, p.new_v01 input, .i001-detail-price-button.i001-css-button input, p.style-button input[type="submit"] {
  background-color: #64c8ac;
  border-radius: 3px;
}

div#respond {
  display: none;
  margin-bottom: 50px !important;
  float: left;
}

.comment-form .submit {
  background: #1ABC9C;
  color: #fff;
  border: none !important;
  padding: 13px;
}

.i001-comments-item {
  border-top: 1px dashed #cccccc;
  overflow: hidden;
  padding: 17px 0 16px 15px;
  margin-top: 30px;
}

.i001-comments-item {
  font-family: arial;
  margin-bottom: 8px;
  width: 100%;
  float: left;
}

.i001-comments-item h5, h6 {
  color: #000;
  font-family: arial;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 20px;
  text-transform: capitalize;
}

.i001-comments-item h4 {
  color: #64c8ac;
  font-size: 16px;
  padding-bottom: 20px;
}

.drop_down .narrow .second .inner ul li a {
  font-size: 14px !important;
  padding-left: 12px !important;
  padding-right: 20px;
  text-transform: capitalize !important;
}

.drop_down .narrow .second .inner ul li {
  padding: 0 !important;
  text-transform: capitalize;
  width: 256px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-item.full_drodowns .second.drop_down_start .inner ul li {
  padding: 0;
  width: 440px !important;
  position: relative !important;
}

.menu-item.blog_menu .second.drop_down_start .inner ul li {
  padding: 0;
  width: 348px !important;
  position: relative !important;
}

#product_enquiry_form input {
  border: 1px solid #ccc;
  width: 91% !important;
}

#product_enquiry_message {
  width: 91%;
  border: solid 1px #ccc;
}

#product_enquiry_form #send_product_enquiry {
  width: 170px !important;
}

.image_custom_monthly_category {
  width: 44%;
  padding: 10px;
  border: 6px solid #f7f7f7;
  position: relative;
}

.forwats {
  background: #e0e0e0 none repeat scroll 0 0;
  bottom: 6px;
  color: #fff;
  display: table;
  padding: 7px;
  position: absolute;
  right: 10px;
  text-align: right;
  width: 20px;
}

.dog_tearts_homepage .vc_column-inner {
  height: 541px;
}

.margin__0 {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.margin__0 .vc_column_container>.vc_column-inner {
  margin: 0px !important;
  padding: 0px !important
}

.cart_options {
  float: right;
  margin-right: 20px;
  padding-top: 29px !important;
  position: relative;
  width: 130px;
}

.Oopen_carts {
  position: absolute;
  right: 80px;
  top: 70px;
  width: 120px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  background: #fff !important;
  padding: 10px;
  border-radius: 55px;
  padding-left: 27px;
  font-family: arial;
  font-size: 16px;
}

body .events {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 0;
  text-align: left;
  width: 231px;
}

table .events-hdr {
  background: #64c8ac none repeat scroll 0 0;
  color: #ffffff;
  padding: 11px 16px;
}

table .events-hdr h5 {
  margin: 0;
}

table .event-item {
  padding: 17px;
}

body table .events a {
  color: #64c8ac;
}

.events {
  display: none;
  position: absolute;
  z-index: 2147483647;
}

.events_opens:hover .events {
  display: block;
}

.events-hdr>h5 {
  color: #fff;
}

.event-img>img {
  width: 100%;
}

.eventone-template-default .custom__blogs_h {
  padding-top: 40px !important;
}

.header_inner.clearfix .container_inner.clearfix {
  padding-top: 20px !important;
}

.q_logo {
  left: 0;
  top: 68% !important;
}

.vc_row.wpb_row.section.vc_row-fluid.top_banners {
  padding-top: 0px;
}

.home .top_banners a:hover {
  opacity: 1 !important;
}


/*
.main_menu::before{
  content: '';
  width: 6000px;
  background-color: #4d774f;
  height: 45px;
  position: absolute;
  left: -2000px;
}*/

body>div.wrapper>div>div>div>div.full_width>div>div.vc_row.wpb_row.section.vc_row-fluid.add_bone.grid_section>div::before {
  content: '';
  background-image: url(/wp-content/uploads/2017/07/Bone-Mix-1-copy.jpg);
  height: 772px;
  width: 460px;
  position: absolute;
  left: -448px;
  z-index: -999;
  top: -50px;
  background-size: cover;
  overflow: visible;
}

body>div.wrapper>div>div>div>div.container>div>div>div>div>div>div>div>div.woocommerce.columns-4>ul>li:nth-child(7) {
  clear: none!important;
}

body>div.wrapper>div>div>div>div.container>div>div>div>div>div>div>div>div.woocommerce.columns-4>ul>li:nth-child(7)>a>img {
  padding: 16% 0;
}

body>div.wrapper>div>div>div>div.container>div>div>div>div>div>div>div>div.woocommerce.columns-4>ul>li:nth-child(7)>a>h2 {
  text-align: center;
}

.count {
  display: none;
}

body>div.wrapper>div>div>div>div.container>div>div>div>div>div>div>div>div.woocommerce.columns-4>ul>li {
  border: 1px solid #e5e5e5;
  min-height: 330px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  body>div.wrapper>div>div>div>div.container>div>div>div>div>div>div>div>div.woocommerce.columns-4>ul>li {
    width: 100% !important
  }
}

.hero_cat_img {
  min-height: 307px;
}

body>div.wrapper>div>div>div>div.full_width>div>div:nth-child(3)>div>div>div>div>div:nth-child(2)>div>div>div>div {
  border: 1px solid #e5e5e5;
  padding: 15px;
}

body>div.wrapper>div>div>div>div.full_width>div>div:nth-child(3)>div>div>div>div>div:nth-child(2)>div>div>div>div>div {
  min-height: 370px;
}

@media screen and (max-width: 1000px) {
  .header_inner.clearfix .container_inner.clearfix {
    padding-top: 0!important;
  }
  .header_bottom.clearfix {
    background: none;
    top: auto;
    background-position-y: -32px !important;
  }
  .home .content.content_top_margin {
    margin-top: 0!important;
  }
  .q_logo img {
    top: -90% !important;
  }
  .header_inner_right {
    display: none;
  }
.products{
	left: 0!important;
}
}

.sku_wrapper {
  display: none!important;
}

body>div.wrapper>div>div>div>div.container>div>div>div>div>div>div>div>div.woocommerce.columns-4>ul>li:nth-child(7)>a>img {
  padding: 0!important;
}

.header_bottom.clearfix {
  background-position-y: -13px !important;
}

.header_bottom.clearfix {
    background: rgba(0, 0, 0, 0) url(/wp-content/uploads/2017/06/banner-bg.jpg) repeat scroll center bottom;
    top: 0;
    width: 100%;
}



header.scrolled nav.main_menu > ul > li > a, header.light.scrolled nav.main_menu > ul > li > a, header.dark.scrolled nav.main_menu > ul > li > a {
    color: #fff!important;
    font-family: 'Verdana', sans-serif !important;
}



.variations_button input.plus, .variations_button input.minus{
font-size:22px !important;
  height: 30px !important;
  width: 30px !important;
  
}

.woocommerce .qbutton.add-to-cart-button, .woocommerce .single_add_to_cart_button, .woocommerce .woocommerce-message a.button, .woocommerce ul.products li.product .added_to_cart {
font-weight: 800;
}

li.product-category{
text-align: center!important;;
}
.page-template-custom_blog .custom__blogs_h{
padding-top:120px!important;
}

.new_v01{
background-color: #337a36;
}
.content .container .container_inner.page_container_inner, .full_page_container_inner {
    padding: 0;
}

.onsale, .single-onsale{
  background-color: #ff9d0a!important;
  color: #fff!important;
}


.woocommerce .button   {
background-color: #ff9d0a!important;

}

#one_item .woocommerce{
position: relative;
    left: 50%;
    transform: translateX(-116px);
}

#two_item .woocommerce{
position: relative;
}


@media only screen and (max-width: 600px){
.columns-3 ul.products li.product{
width: 100%!important;
}
.q_logo a {
height: 54px !important;
}
.q_logo{
top: 46% !important;
  
}
body > div.wrapper > div > div > div > div.full_width > div > div.vc_row.wpb_row.section.vc_row-fluid.banner_bottom_icons.vc_custom_1499995458091.grid_section > div > div{
  text-align: center;
}
body > div.wrapper > div > div > div > div.full_width > div > div.vc_row.wpb_row.section.vc_row-fluid.add_bone.grid_section > div{
  width: 100%!important;
}
#cta_trial_row > div > div:nth-child(2) > div > div{
  text-align: center;
}
body > div.wrapper > div > div > div > div.full_width > div > div.vc_row.wpb_row.section.vc_row-fluid.padding_bottom_zero > div > div > div > div > div.vc_row.wpb_row.section.vc_row-fluid.vc_inner > div > div:nth-child(3) > div > div > div{
  text-align: center;
}
body > div.wrapper > div > div > div > div.full_width > div > div.vc_row.wpb_row.section.vc_row-fluid.padding_bottom_zero > div > div > div > div > div.vc_row.wpb_row.section.vc_row-fluid.vc_inner > div > div:nth-child(4) > div > div > div{
  text-align: center;
}
}

@media screen and (max-width: 768px){
	.page-id-7 > div.wrapper > div > div > div > div > div > div.vc_row.wpb_row.section.vc_row-fluid.banner1.disable_negative_margin{
		background-position-x: -694px!important;
	}
	.page-id-7 > div.wrapper > div > div > div > div > div > div.vc_row.wpb_row.section.vc_row-fluid.home_monthly_package > div > div > div > div > div > div > a > div > img{
		margin-bottom: 50px;
	}
	.header_bottom.clearfix{
		background: none;
	}
	.bets__selling__categories .product-category.product{
		margin-left: 0!important;
		margin-right: 0!important;
		width: 46%!important;
	}
	.best_seeling_outers .inner_sellings .product-category.product{
		margin-left: 0!important;
	}
	.columns-3 ul.products li.product{
		width: 48.89%!important;
	}
	.columns-3 .container_inner>ul.products li.product{
		margin-right: 0!important;
	}
}

@media screen and (max-width: 480px){
	.columns-3 ul.products li.product{
		width: 100%!important;
	}
	.page-id-7 > div.wrapper > div > div > div > div > div > div.vc_row.wpb_row.section.vc_row-fluid.banner1.disable_negative_margin{
		background-position-x: -690px!important;
		background-size: cover!important;
		height: 620px!important;
	}
	
}


@media screen and (max-width: 320px){
	.page-id-7 > div.wrapper > div > div > div > div > div > div.vc_row.wpb_row.section.vc_row-fluid.banner1.disable_negative_margin{
		background-position-x: -567px!important;
		background-size: cover!important;
		height: 479px!important;
	}
	header .q_logo img.mobile{
		height: 75%!important;
	}
}

#wpcf7-f2657-p7-o1 p{
	display: inline-block;
	width: 100%;
	text-align: center;
}

#wpcf7-f2657-p7-o1 input.wpcf7-form-control.wpcf7-text{
	display: inline-block!important;
	width: 33%;
	
}

