﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Bebas";src:url("BEBAS___.eot?") format("eot"),url("BEBAS___.woff") format("woff"),url("BEBAS___.ttf") format("truetype"),url("BEBAS___.svg#Bebas") format("svg");font-weight:normal;font-style:normal;}
