

.border-box {
padding: 10px 0;
border: 1px solid #e5e5e5;
}

nav.main_menu.right {
float: left !important;
width: 100%;
}


nav.main_menu>ul>li>a {
padding: 0px 13px !important;
}

.scrolled .header_bottom.clearfix {
background-position-y: -55px !important
}

.q_logo a {
height: 60px !important;
}

.title_holder {
padding-top: 120px !important;
}